/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes scale-heart {
  from {
    scale: 1;
  }
  to {
    scale: 1.25;
  }
}

@keyframes sparks {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button {
  font-family: var(--font-family-accent);
  font-size: 14px;
  line-height: 0.9;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: fit-content;
  height: 40px;
  padding: 0;
  border: 2px solid black;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button:not(.card__icon-button)::before {
  content: '';
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button__text {
  padding: 12.5px 37px;
  width: 130px;
}

.card__icon-button {
  border: 2px solid transparent;
  width: 40px;
  height: 40px;
}

.card__icon {
  width: 40px;
  height: 40px;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  fill: var(--animation-fill-color);
  opacity: 0;
}

.contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked {
  animation: scale-heart 0.3s ease-in 0.1s
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family-main);
  font-variation-settings: 'wght' var(--font-weight-regular);
  background-image: var(--background-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-size: 18px;
  padding: 100px 0;
}

.content_item {
  width: var(--content-width);
  margin: 0 auto;
}

.header {
  border: 2px solid black;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-transform: uppercase;
  text-align: bottom;
  font-weight: var(--font-weight-regular);
  gap: 20px;
  padding: 120px 0;
}

.header__title {
  font-size: 49px;
}

.card {
  margin-top: 50px;
  background-color: white;
  border: 2px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
}

.card__title {
  padding: 10px 5px;
  font-variation-settings: 'wght' var(--font-weight-bold);
  font-size: 18px
}

.card__text-content {
  margin: 25px;
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  width: 100%;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  font-family: var(--font-family-accent);
  opacity: 0.5;
  text-stroke: 1px white;
  -webkit-text-stroke: 1px white;
  mix-blend-mode: hard-light;
}

.card__buttons {
  display: flex;
  align-self: flex-end;
  gap: 8px;
  margin: 0 25px 25px 0;
}

.card__icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
}

.footer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.footer__button {
  width: 340px;
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 90%;
  padding: 15px 20px;
  gap: 8px;
  line-clamp: 1;
  text-align: center;
  border: 2px solid black;
  height: 50px;
}

.footer_floppy {
  width: 21px;
}

.popover {
  width: 360px;
  height: 195px;
  font-size: 14px;
  text-transform: uppercase;
  padding: 30px;
  font-family: var(--font-family-accent);
}

.popover__floppy {
  display: block;
  width: 40px;
  height: 40px;
}

.popover__text-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: center;
}

.popover__text {
  width: fit-content;
  line-height: 150%;
  width: 234px;
}

.popover__button {
  width: 100%;
  margin-top: 30px;
}

@media (width <= 375px) {
  .popover {
    padding: 30px 42px;
    width: 345px;
    height: 200px;
  }

  .footer__button {
    flex-direction: column;
    width: 310px;
    height: 80px;
  }

  .footer_floppy {
    width: 28px;
  }

  .card__label {
    right: 14px
  }
}

.hidden {
  display: none
}

.card_0 img {
  filter: saturate(2)
}

.card_1-1 img {
  filter: brightness(0.5)
}

.card_1-2 img {
  filter: saturate(2)
}

.card_2-1 img {
  filter: hue-rotate(30deg)
}

.card_2-2 img {
  filter: sepia(0.7)
}

.card_3-1 img {
  filter: invert()
}

.card_3-2 img {
  filter: contrast(7) hue-rotate(70deg)
}

.card_final img {
  filter: blur(8px)
}

/* animations */
.button:not(.card__icon-button):focus {
  outline: none;
}

.button:not(.card__icon-button):focus-visible {
  box-shadow: 2px 2px 0 #000;
}

.button:not(.card__icon-button):hover::before {
  content: '';
  transform: translate(0);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.03s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.03s;
}