/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --font-family-main: 'Inter', sans-serif;
    --font-family-accent: 'Press Start 2P', cursive;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --content-width: clamp(375px, 100%, 700px);
    --background-image: repeating-linear-gradient(90deg, #d3d3d3 0 2px, #d3d3d300 2px 4px), repeating-linear-gradient(0deg, #d3d3d3 0 2px, #d3d3d300 2px 4px), linear-gradient(to bottom, #e7e7e7, #1a1a1a);
    --animation-fill-color: #FF0000;
    --contour-color: #000000;
}


